<div class="container border border-secondary">
    <div class="row pt-3">
        <h3>Create ToDo</h3>
    </div>
  <div class="row pt-3">
    <section class="col-xs-12">
      <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label>Date</label>
          <input type="date" formControlName="date" placeholder="Date" class="form-control" 
          [ngClass]="{'has-error': (taskForm.get('date').hasError('required') && taskForm.get('date').touched) && taskForm.invalid}" />
        </div>
        <div class="form-group">
          <label>Task Name</label>
          <input type="text" formControlName="taskName" placeholder="Task Name" class="form-control" 
          [ngClass]="{'has-error': taskForm.get('taskName').hasError('required') && taskForm.get('taskName').touched && taskForm.invalid}"/>
        </div>
        <div class="form-group">
          <label>Status</label>
          <select name="status" class="form-control" formControlName="status" 
          [ngClass]="{'has-error': taskForm.get('status').hasError('required') && taskForm.get('status').touched && taskForm.invalid}">
            <option value="" disabled>Choose your status</option>
            <option *ngFor="let status of statusList" [ngValue]="status">{{status}}</option>
         </select>
        </div>
        <div class="form-group">
          <label>Action</label>
          <input type="text" formControlName="action" placeholder="Action" class="form-control" 
          [ngClass]="{'has-error': taskForm.get('action').hasError('required') && taskForm.get('action').touched && taskForm.invalid}"/>
        </div>
        <div class="form-group">
            <button class="btn btn-primary pull-right" type="submit" value="Submit">Submit</button>
        </div>
      </form>
    </section>
  </div>
</div>
